<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Customers - Admin</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="/css/admin/customer.css">
</head>
<body>
  <div class="page-wrapper">
    <h1>Customers</h1>
<div style="margin-bottom: 20px;">
  <input 
    id="brand-search-input"
    type="text"
    placeholder="Search customers..."
    value="<%= search || '' %>"
    style="padding: 10px; width: 250px; border-radius: 5px; border: 1px solid #444; background:#1b1b2e; color:white;"
  />

  <button 
    onclick="handleSearch()" 
    style="padding: 10px 15px; margin-left: 5px;">Search</button>

  <button 
    onclick="clearSearch()" 
    style="padding: 10px 15px; margin-left: 5px;">Clear</button>
</div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Join Date</th>
          <th>No. of Orders</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody id="customersBody">
        <% customers.forEach(c => { %>
          <tr
            data-search="<%= ( (c.fullName || '') + ' ' + (c.email || '') ).toLowerCase() %>"
            data-id="<%= c._id %>"
            id="row-<%= c._id %>"
          >
            <td><%= c.fullName || 'User' %></td>
            <td><%= c.email %></td>
             
             <td><%=c.createdAt.toDateString()%></td>
             <td><%=c.orderCount%></td>
            <td class="status" id="status-<%= c._id %>">
              <%= c.isBlocked ? "Blocked" : "Active" %>
            </td>

            <td>
              <button class="block-btn" data-user-id="<%= c._id %>">
                <%= c.isBlocked ? "Unblock" : "Block" %>
              </button>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <div class="pagination">
      <% if (currentPage > 1) { %>
        <a href="?page=<%= currentPage - 1 %>">Previous</a>
      <% } %>

      Page <%= currentPage %> of <%= totalPages %>

      <% if (currentPage < totalPages) { %>
        <a href="?page=<%= currentPage + 1 %>">Next</a>
      <% } %>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="/js/admin/customer.js"></script>
</body>
</html>
